@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hero_image {
  background-color: #C3EBFB;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}


.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  background-color: rgba(33, 53, 30, 0.95) !important;
}

.ReactModal__Content, .ReactModal__Content-after-open {
  border: 0 !important;
  padding: 0 !important;
  
}